<!-- <div class="bg-dark text-center text-white">


</div> -->

<mat-toolbar class="flex-center" [color]="'primary'">
    <!-- Grid container -->
    <span *ngIf="false">
      <!-- Section: Social media -->
      <section>
        <!-- Facebook -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fab fa-twitter"></i></a>

        <!-- Instagram -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fab fa-linkedin-in"></i></a>

        <!-- Github -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </span>
    <!-- Grid container -->

    <!-- Copyright -->
    <span class="mat-body">
      © {{date | date: 'y'}}
      <a class="text-white" href="https://github.com/francotc/" target="_blank">@francotc</a>
    </span>
    <!-- Copyright -->
</mat-toolbar>
