<!-- Image and text -->
<!-- <nav class="navbar navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/to-do-list.png" class="me-2" height="20" alt=""
        loading="lazy" />
      <small>ToDo App</small>
    </a>
  </div>
</nav> -->

<!-- <mat-toolbar color="primary"> -->
<mat-toolbar class="fixed-top" color="primary">
  <img src="../../../assets/to-do-list.png" class="me-2" height="20" alt="" loading="lazy" />
  <span>ToDo App</span>
</mat-toolbar>
