/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";
@import "app/stylesheets/variables";

*:not(input, textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none; // locks fields on Safari
  -khtml-user-select: none; // locks fields on Safari
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Agrega espaciado en varios componentes
.db-screen-bg {
  width: 100%;
  background: $gradient-2;
  padding: $pd-4 0 $pd-6 0;
}
.db-screen-bg-2 {
  width: 100%;
  background: $gradient-2;
  padding: $pd-4 0;
}
.db-container {
  padding: $pd-3 0;
}
.db-container-2 {
  padding: $pd-4 0;
}

/* ################## NO CONTENT BOX ################## */

.no-content {
  color: $color-g-3;
  max-width: 240px;
  margin: 0 auto;
  font-size: 1rem;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  i {
    font-size: 3.6rem;
    margin-bottom: $pd-2;
  }
}
.no-content.end-space {
  padding: $gap-4 0;
}
